.header__content {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: inherit;
  float: right;
  margin: 10px 15px;
}

.header-content__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: #666666;
}

.header-content__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
