/* SECTION - RESET */

@import "reset.css";

/* SECTION - LAYOUT */

body {
  height: 100vh;
}

.layout {
  height: inherit;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 60px 1fr 60px;
}

.layout__nav {
  grid-row: 1/4;
}
