@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

.small {
  font-size: 0.87em;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}
