.hidden-desktop {
  display: none;
}

/* SECTION : material icons */

.material-icons.md-subnav-icon {
  font-size: 16px;
  transform: translateY(2px);
}

/* SECTION : Sub-nav layout */
body {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-columns: 80px 220px 1fr;
  grid-template-rows: 60px 1fr 60px;
  height: inherit;
}

.layout-nav {
  grid-row: 1/4;
}

.layout-subnav {
  grid-row: 1/4;
  grid-column: 2/3;
  background: var(--sub_nav_color);
}

.layout-header {
  grid-column: 3/4;
}

.subnav-content {
  height: calc(100% - 80px);
}

.content-fixed-item {
  position: sticky;
  top: 0px;
  padding: 80px 30px;
}

.fixed-title {
  padding-left: 3px;
  padding-bottom: 15px;
  color: var(--sub_nav_font_hover);
}

.fixed-subject {
  margin-right: 92px;
  line-height: 34.82px;
  color: var(--sub_nav_font_color);
}

.fixed-subject:hover {
  color: var(--sub_nav_font_hover);
}

.fixed-subject-active {
  color: var(--sub_nav_font_hover);
}
