/* SECTION : material icons */

.material-icons.md-subnav-icon {
  font-size: 16px;
  transform: translateY(2px);
}

/* SECTION : Sub-nav layout */
body {
  height: 100vh;
}

.layout {
  height: inherit;
  display: grid;
  grid-template-columns: 80px 220px 1fr;
  grid-template-rows: 60px 1fr 60px;
}

.layout__nav {
  grid-row: 1/4;
}

.layout__subnav {
  grid-row: 2/4;
  background: var(--sub_nav_color);
}

.layout__header {
  grid-column: 2/4;
}

.subnav__content {
  height: calc(100% - 80px);
}

.content__fixed--item {
  position: sticky;
  top: 0px;
  padding: 20px 30px;
}

.fixed--title {
  padding-left: 3px;
  padding-bottom: 15px;
  color: var(--sub_nav_font_hover);
}

.fixed--subject {
  margin-right: 92px;
  line-height: 34.82px;
  color: var(--sub_nav_font_color);
}

.fixed--subject:hover {
  color: var(--sub_nav_font_hover);
}

.fixed--subject--active {
  color: var(--sub_nav_font_hover);
}
