.layout__content *:not(.content__head) {
  font-family: "NanumSquare";
  color: var(--font_dark);
}

.content__section .material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-size: 1.2em;
  color: var(--font_dark);
  vertical-align: middle;
}

/* SECTION - CONTENT SIZES */

.content__head,
.content__subhead,
.content__subhead-two,
.content__subhead-three,
.content__welcome,
.content__para {
  line-height: 1.3em;
}

.content__subhead {
  padding: 30px 0 10px;
}

.content__subhead-two,
.content__subhead-three {
  padding: 10px 0;
}

.content__logo {
  width: 60%;
  max-width: 320px;
  margin: 50px;
}

.content__para {
  padding: 10px 0;
}

.content__table,
.content__table--thead,
.content__table--tr {
  border: 1px solid var(--font_dark);
}

.content__table {
  width: 100%;
  max-width: 550px;
  margin: 15px 0;
}

.content__table--thead {
  background: var(--hor_line);
  line-height: 2em;
}

.content__table--td-name {
  line-height: 1.8em;
}

.content__table--td {
  width: 24%;
  max-width: 25px;
  padding: 0 5px 0 15px;
  line-height: 1.8em;
}

.content__table--td-colon {
  width: 5px;
}

.content__table--td-data {
  padding-left: 10px;
}

.content__table--tr.content__table--ex-name {
  text-align: center;
}

.content__tip .material-icons-outlined {
  padding: 0 0.35em;
}

.content__tip {
  width: 100%;
  max-width: 550px;
  margin: 10px 0;
  background: var(--tip_bg);
  line-height: 2.5em;
  vertical-align: middle;
}

.content__list {
  padding: 10px 30px;
  list-style: unset;
  line-height: 1.5em;
}

.content__list--sub-list {
  padding: 10px 30px;
  list-style: circle;
  line-height: 1.5em;
}

.content__code {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 30px 30px;
  margin: 10px 8% 10px 0;
  background: var(--code_block);
}

.code__line {
  line-height: 1.5em;
  color: var(--code_font) !important;
}

.horiz-divider {
  height: 1px;
  margin: 30px 0;
  border: none;
  background: var(--hor_line);
}

.content__img {
  width: 100%;
  max-width: 500px;
}

.img-margin {
  margin: 15px 0;
}
