.layout__content {
  background: var(--main_footer_bg_color);
}

.content__frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 40px;
  padding: 20px 30px;
  background: white;
}
