.header-nav-label {
  color: black;
  width: 60px;
}

.header-content-title {
  font-size: 18px;
  width: 160px;
}

.material-icons.menu-icon {
  color: var(--menu_icon);
  font-size: 32px;
  padding: 14px;
}

.material-icons.menu-icon:hover {
  cursor: pointer;
}

.header-mobile-nav-toggle {
  background: var(--sub_nav_color);
  color: var(--sub_nav_font_color);
  display: none;
  list-style: none;
  position: fixed;
  top: 60px;
  width: 100%;
}

#mobile-nav:checked + .header-mobile-nav-toggle {
  color: var(--nav_icon_hover);
  display: flex;
  flex-direction: column;
  padding: 20px 30px 20px 60px;
}

.mobile-nav-page-projects {
  padding: 10px 20px;
}

.mobile-nav-page {
  line-height: 2em;
}

.mobile-nav-page:hover,
.page-projects:hover {
  color: var(--mint);
}

.page-projects {
  line-height: 1.8em;
}

.content-frame {
  margin: 20px;
}

.content-pdf {
  height: 600px;
}

* {
  font-size: 75%;
}
