.header__nav--label {
  width: 60px;
  color: black;
}

.header-content__title {
  width: 160px;
  font-size: 18px;
}

.material-icons.menu-icon {
  padding: 14px;
  font-size: 32px;
  color: var(--menu_icon);
}

.material-icons.menu-icon:hover {
  cursor: pointer;
}

.header__mobile-nav--toggle {
  display: none;
  position: fixed;
  top: 60px;
  width: 100%;
  list-style: none;
  background: var(--sub_nav_color);
  color: var(--sub_nav_font_color);
}

#mobile-nav:checked + .header__mobile-nav--toggle {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 20px 60px;
  color: var(--nav_icon_hover);
}

.mobile-nav__page--projects {
  padding: 10px 20px;
}

.mobile-nav__page {
  line-height: 2em;
}

.mobile-nav__page:hover,
.page--projects:hover {
  color: var(--mint);
}

.page--projects {
  line-height: 1.8em;
}

.content__frame {
  margin: 20px;
}

* {
  font-size: 75%;
}
