/* SECTION : Mertial Icons */

.material-icons.md-nav-icon,
.material-icons-outlined.md-nav-icon {
  color: var(--nav_icon_color);
  font-size: 25px;
}

.material-icons.md-nav-hovered,
.material-icons-outlined.md-nav-hovered {
  color: var(--nav_icon_hover);
  font-size: 25px;
}

.material-icons.md-subnav-icon {
  font-size: 16px;
  transform: translateY(2px);
}

.material-icons.md-nav-icon:hover {
  color: var(--nav_icon_hover);
}

.material-icons-outlined.md-nav-icon:hover {
  cursor: pointer;
  color: var(--nav_icon_hover);
}

/* SECTION : nav bar layout */

.layout__nav {
  background: var(--nav_color);
}

.layout__nav--logo {
  width: 42.72px;
  height: 30px;
  padding: 15px 18.64px;
}

.layout__nav--items {
  display: flex;
  flex-direction: column;
  top: 60px;
  margin: 0px 27.5px;
  position: sticky;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav__items--icon {
  margin: 17.5px 0px;
}

.subnav--toggle {
  position: fixed;
  left: 80px;
  top: 0px;
  width: 160px;
  height: calc(100%);
  list-style: none;
  background: var(--sub_nav_color);
  color: var(--sub_nav_font_color);
}

.subnav--toggle,
#subnav {
  display: none;
}

#subnav:checked ~ .subnav--toggle {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  padding-top: 80px;
  color: var(--nav_icon_hover);
}

.subnav--toggle__title {
  padding: 0 0 15px 3px;
  color: var(--sub_nav_font_hover);
}

.subnav--toggle__subject {
  line-height: 34.82px;
  color: var(--sub_nav_font_color);
}

.subnav--toggle__subject:hover {
  color: var(--sub_nav_font_hover);
}

.material-icons.md-subnav-icon:hover {
  animation: vib 0.5s infinite alternate;
}

@keyframes vib {
  66% {
    transform: rotate(20deg);
  }
  33% {
    transform: rotate(-20deg);
  }
}
