/* SECTION : Mertial Icons */

.material-icons.md-nav-icon {
  color: var(--nav_icon_color);
  font-size: 25px;
}

.material-icons-outlined.md-nav-icon {
  color: var(--nav_icon_color);
  font-size: 25px;
}

.material-icons.md-nav-icon:hover {
  color: var(--nav_icon_hover);
}

.material-icons-outlined.md-nav-icon:hover {
  color: var(--nav_icon_hover);
  font-size: 25px;
}

/* SECTION : nav bar layout */

.layout__nav {
  background: var(--nav_color);
}

.layout__nav--logo {
  width: 42.72px;
  height: 30px;
  margin: 15px 18.64px;
}

.layout__nav--items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.nav__items--icon {
  margin: 17.5px 0px;
}

#subnav--toggle {
  width: 220px;
  height: calc(100% - 100px);
  list-style: none;
  position: absolute;
  left: 80px;
  top: 60px;
  background: var(--sub_nav_color);
  color: var(--sub_nav_font_color);
}

#subnav--toggle,
#subnav {
  display: none;
}

#subnav:checked + #subnav--toggle {
  color: var(--nav_icon_hover);
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.subnav--toggle__title {
  color: var(--white);
  padding-bottom: 15px;
}

.subnav--toggle__subject {
  line-height: 34.82px;
  padding-left: 5px;
  color: white;
}
